<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Имя</th>
    <th scope="col">Логин</th>
    <th scope="col">Электронная почта</th>
    <th scope="col">Действие</th>
  </tr>
  </thead>
  <% @users.each.with_index(1) do |user, index| %>
    <% if user.kept? %>
      <tbody>
      <tr>
        <th scope="row"><%= index%></th>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= button_to "Delete account", user_path(user), form: { data: { turbo_confirm: "Are you sure?" } },
                          method: :delete %>
        </td>
        <td>
          <%= button_to "Show user", user_path(user), method: :get %>
        </td>
      </tr>
      </tbody>
    <% end %>
  <% end %>
</table>






